.footer {
    margin-top: 20px;
    padding-top: 20px;
    width: 100%;
    height: 150px;
    background-color: rgb(245,245,245);
    text-align: center;
}
.footer a {
    color: #62a8ea;
    text-decoration: none;
}
.footer>p {
    text-align: center;
    line-height: 10px;
    color: rgb(150,150,150);
    line-height: 10px;
}
.footer p a .icon-weixin {
    font-size: 40px;
    color: rgb(131,185,68);
}
.footer p a .icon-qq,.footer p a .icon-youxiang {
    font-size: 40px;
    margin-left: 20px;
}