<div class="contentLeft">
    <h4>菜单列表</h4>
    <h5><span class="glyphicon glyphicon-minus" style="margin-right: 6px;"></span>栏目管理 </h5>
    <ul class="list-group">
        <li class="list-group-item"><a href="query.php">查看栏目</a></li>
        <li class="list-group-item"><a href="insertcategory.php">添加栏目</a></li>
    </ul>
    <h5><span class="glyphicon glyphicon-minus" style="margin-right: 6px;"></span>商品管理 </h5>
    <ul class="list-group">
        <li class="list-group-item"><a href="querygoods.php">查看商品</a></li>
        <li class="list-group-item"><a href="insertgoods.php">添加商品</a></li>
    </ul>
    <h5><span class="glyphicon glyphicon-minus" style="margin-right: 6px;"></span>推荐位管理 </h5>
    <ul class="list-group">
        <li class="list-group-item"><a href="queryposition.php">查看推荐位</a></li>
        <li class="list-group-item"><a href="insertposition.php">添加推荐位</a></li>
    </ul>
</div>