
<?php include_once './header.php'; ?>

<div class="content">

    <?php include_once './slide.php'; ?>

    <div class="contentRight">
        <form action="updatecategory.php" method="post" enctype="application/x-www-form-urlencoded">
            <div class="form-group">
                <label for="exampleInputEmail3">修改栏目描述</label>
                <select name="pid" id="exampleInputEmail3" class="form-control">
                    <option value="0">一级栏目</option>

                    <!--                    <?php for($i=0;$i<count($result);$i++){ ?>
                                        <option value="<?php echo $result[$i]['id'] ?>">
                                            <?php echo $result[$i]['title'] ?>
                                        </option>
                                        <?php } ?>-->

                    <?php echo $str; ?>

                </select>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">修改栏目标题</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Title" name="title" required value="<?php echo $result['title'];?>">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail2">修改栏目描述</label>
                <input type="text" class="form-control" id="exampleInputEmail2" placeholder="Des" name="des" required value="<?php echo $result['des'];?>">
            </div>
            <input type="hidden" name="id" value="<?php echo $result['id'];?>">
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>
</body>
</html>