<link rel="stylesheet" href="../static/css/footer.css">
<!--<link rel="stylesheet" href="../static/css/header.css">-->

<div class="footer">
    <p>
        <a href="#"><i class="iconfont icon-weixin"></i></a>
        <a href="#"><i class="iconfont icon-qq"></i></a>
        <a href="#"><i class="iconfont icon-youxiang"></i></a>
    </p>
    <a href="#">豫ICP备17021305号</a>
    <a href="#"><img src="../static/image/gonganbeian.png">豫公网安备 41012202000160号</a>
    <p>联系电话 <?php echo $res['tel'];?> </p>
    <p><?php echo $res['title'];?> 版权所有 © 2017-2021</p>
</div>
</body>
</html>